@charset "utf-8";

@import "compass/css3";
/* CSS Document */
a{
	text-decoration: none;
	color: black;
}
.header{
	border-top: 14px solid #000000;
}

.header_tab {
	list-style-type: none;
	display: flex;
	padding-right: 25%;
}

.header_tab li{
	margin: auto;
}

.main_container{
	padding-left: 7%;
	padding-right: 7%;
	display: flex;
}

.thumbnail{
	background-color: #808080;
	width: 50%;
	height: 400px;

}

.thumbnail img{
	width: 100%;
	height: 400px;	
	object-fit: cover;
	object-position: 50% 50%;
	border: 1px solid #000000;
}

.description_container{
	width: 46%;
	padding-left: 18px;
}

.title{
	font-size: 24px;
	font-weight: bold;
}

.quickest_borrow_date{
	float: right;
	font-size: 12px;
}

.text_field{
	border: 1px solid #ED6E23;
	height: 250px;
}

.footer{
	border-top: 20px solid #ED6E23;
	margin-top: 36px;
	padding-left: 7%;
	padding-right: 7%;
}

.footer_container{
	padding-top: 24px;
}

.footer_title1{
	font-size: 14px;
	font-weight: bold;
}

.footer_title2{
	font-size: 12px;
	font-weight: bold;
}

.footer_container p{
	font-size: 12px;
}

.copyright{
	color: #6F6F6F;
}

/* Style the tab */
.tab {
	overflow: hidden;
}

/* Style the buttons inside the tab */
	.tab button {
		background-color: #FED9C3;
		border-radius: 8px 8px 0px 0px;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #fff2cc;
		border-radius: 4px 4px 0px 0px;
	}

/* Create an active/current tablink class */
	.tab button.active {
		background-color: #ED6E23;
		border-radius: 4px 4px 0px 0px;
	}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ED6E23;
	border-radius: 0px 4px 4px 4px;
	height: 185px;
	overflow: auto;
}

@media only screen and (max-width: 780px) {
	.main_container{
		display: block;
	}

	.thumbnail{
		width: 100%;
	}

	.description_container{
		width: 100%;
	}

	.misc_description{
		font-size: 13px;
	}

	.title {
		font-size: 18px;
	}

	.tab button{
		font-size: 12px;
		padding: 9px 10px;
	}

	.tabcontent{
		font-size: 12px;
	}
}

	@media only screen and (max-width: 320px) {
		.header_tab {
			display: grid;
			grid-template-columns: auto;
			grid-gap: 1em 0em;
			padding-top: 20px;
			justify-content: left;
		}
	}